.workspace-position-2R17 { transform: translate(644px, 95px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R17:hover{ transform: translate(644px, 92px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R13 { transform: translate(620px, 103px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R13:hover{ transform: translate(620px, 100px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R22 { transform: translate(669px, 110px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R22:hover{ transform: translate(669px, 107px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R15 { transform: translate(646px, 120px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R15:hover{ transform: translate(646px, 117px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R16 { transform: translate(523px, 129px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R16:hover{ transform: translate(523px, 126px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R19 { transform: translate(1382px, 140px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R19:hover{ transform: translate(1382px, 137px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R21 { transform: translate(1357px, 146px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R21:hover{ transform: translate(1357px, 143px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R10 { transform: translate(551px, 150px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R10:hover{ transform: translate(551px, 147px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R18 { transform: translate(1416px, 158px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R18:hover{ transform: translate(1416px, 155px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R20 { transform: translate(1399px, 168px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R20:hover{ transform: translate(1399px, 165px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R9 { transform: translate(444px, 175px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R9:hover{ transform: translate(444px, 172px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R6 { transform: translate(321px, 183px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R6:hover{ transform: translate(321px, 180px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R5 { transform: translate(370px, 194px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R5:hover{ transform: translate(370px, 191px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R8 { transform: translate(340px, 205px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R8:hover{ transform: translate(340px, 202px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R14 { transform: translate(472px, 462px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R14:hover{ transform: translate(472px, 459px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R1 { transform: translate(370px, 496px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R1:hover{ transform: translate(370px, 493px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R2 { transform: translate(398px, 531px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R2:hover{ transform: translate(398px, 528px) scale(1.1,1.1); z-index: 100; opacity: 1;}
