.workspace-position-2R1 { transform: translate(370px, 496px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R1:hover{ transform: translate(370px, 494px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R2 { transform: translate(398px, 531px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R2:hover{ transform: translate(398px, 529px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R5 { transform: translate(370px, 194px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R5:hover{ transform: translate(370px, 192px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R6 { transform: translate(321px, 183px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R6:hover{ transform: translate(321px, 181px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R8 { transform: translate(340px, 205px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R8:hover{ transform: translate(340px, 203px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R9 { transform: translate(444px, 175px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R9:hover{ transform: translate(444px, 173px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R10 { transform: translate(551px, 150px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R10:hover{ transform: translate(551px, 148px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R13 { transform: translate(620px, 103px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R13:hover{ transform: translate(620px, 101px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R14 { transform: translate(472px, 462px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R14:hover{ transform: translate(472px, 460px) scale(1.1,1.1); z-index: 100; opacity: 1;}
