.workspace-position-2R1 { transform: translate(370px, 496px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R1:hover{ transform: translate(370px, 494px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R2 { transform: translate(398px, 531px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R2:hover{ transform: translate(398px, 529px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R5 { transform: translate(244px, 665px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R5:hover{ transform: translate(244px, 663px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R6 { transform: translate(350px, 220px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R6:hover{ transform: translate(350px, 218px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R7 { transform: translate(150px, 150px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R7:hover{ transform: translate(150px, 148px) scale(1.1,1.1); z-index: 100; opacity: 1;}
.workspace-position-2R8 { transform: translate(200px, 200px) scale(1,1);background-position: 0px 0px;} 
.workspace-position-2R8:hover{ transform: translate(200px, 198px) scale(1.1,1.1); z-index: 100; opacity: 1;}
