.contaner {
max-width: 1540px;
}
.floor_map {
  display: inline-block;
  margin:20px;
  width: 1500px;
  height: 715px;
}
.map_size{
    width: 1500px;
	height: 715px;
	position: absolute;
}
.green_icon{
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 60px;
  background: url('green_icon.png');
  opacity: 0.9;
  outline-color: transparent;
}
.red_icon{
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 60px;
  background: url('red_icon.png');
  opacity: 0.9;
  outline-color: transparent;
}
.orange_icon{
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 60px;
  background: url('orange_icon.png');
  opacity: 0.9;
  outline-color: transparent;
}
.warning_icon{
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 60px;
  background: url('warning_icon.png');
  opacity: 0.9;
  outline-color: transparent;
}

.hide {opacity: 0;
cursor: default;}

.mainText{
  pointer-events: none;
  font-family: 'Roboto Condensed';
  sans-serif;
  color: black;
  text-align: left;
  font-size: 100%;
}
