.contaner {
max-width: 1540px;
}
.floor_map {
  moz-user-select: none;
  webkit-user-select: none;
  ms-user-select: none; 
  user-select: none;
  pointer-events: none
  display: inline-block;
  margin-left:8%;
  width: 1500px;
  height: 715px;
}
.map_size{
    width: 1500px;
	height: 715px;
	position: absolute;
}
.green_icon{
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 60px;
  background: url('green_icon.png');
  opacity: 0.9;
  outline-color: transparent;
}
.red_icon{
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 60px;
  background: url('red_icon.png');
  opacity: 0.9;
  outline-color: transparent;
}
.orange_icon{
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 60px;
  background: url('orange_icon.png');
  opacity: 0.9;
  outline-color: transparent;
}
.warning_icon{
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 60px;
  background: url('warning_icon.png');
  opacity: 0.9;
  outline-color: transparent;
}

.hide {opacity: 0;
cursor: default;}

.mainText{
  pointer-events: none;
  font-family: 'Roboto Condensed';
  sans-serif;
  color: black;
  text-align: left;
  font-size: 100%;
}
input[type=search] {

  background: #fefefe;
  padding-left:1em;
  padding-right: 30px;
  border: 1px solid SlateGrey;
  width: 300px;
  height: 30px;
  border-radius: 15px;
  color: SlateGrey;
  transition: .5s ease-in-out;
  -webkit-appearance: none;
}
input:focus {
  width: 300 px;
  border-radius: 5px;
}
button {
  width: 30px;
  height: 30px;
  position: relative;
  padding: 0;
  margin-left: -30px;
  border: 0;
  background: none;
  opacity: .6;
  transition: .5s ease-in-out;
  vertical-align: bottom;
}
input:focus + button {
  opacity: 1;
}
button:after, button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid SlateGrey;
  position: absolute;
  left: 0;
  top: 5px;
}
button:before {
  content: "";
  width: 0;
  height: 7px;
  border-radius: 0 0 1px 1px;
  transform: rotate(-45deg);
  left: 12px;
  top: 13px;
}
.stage_menu{
  position: absolute;
  width: 400px;
  height: 78px;
  /*background: url('stage_menu.png'); */
  opacity: 1;
  z-index: 200;
  border-spacing:0;
  transform: translate(600px, 650px);
  line-height:0;
  border-collapse:collapse;
}
.stage_menu_element:hover{
    -webkit-filter:  brightness(150%) drop-shadow(1px 1px 1px gray); /* Safari */
    filter:  brightness(150%) drop-shadow(1px 1px 1px gray);
}