<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/styles/style.css">
  <link rel="stylesheet" href="static/styles/dynamic{{ workspaces_set.first.stage }}.css">
  <link rel="stylesheet" href="static/styles/content_menu.css">
  <meta charset="UTF-8">
  <title>map view</title>
  <script type="text/javascript" src="static/scripts/jquery-3.3.1.min.js"> 
  </script>
</head>
<body>	 <div class="ui-widget worker-input" style="z-index:500;">  <input id="worker_search" type="search" placeholder="Найти сотрудника" /> <button></button></div>
  <div class="container">
    <div class="floor_map">
	 <img class="map_size" src="static/images/map{{ workspaces_set.first.stage }}_izometr.jpg" >
	 {% for space in workspaces_set %} 
		{% if space.status == 0 %}
		    <div tabindex="0" id="{{ space.stage }}{{ space.id }}" class="workspace-position-{{ space.stage }}{{ space.id }} green_icon" title="{{ space.stage }} {{ space.id }}"> 
	    </div>
		{% endif %}
		{% if space.status == 1 %}
		<div tabindex="0" id="{{ space.stage }}{{ space.id }}" class="workspace-position-{{ space.stage }}{{ space.id }} red_icon htooltip"> <span> <img src="static/images/roket.jpg">
				login: {{ space.login }} <p> Ip: {{ space.ip }} </span>
		</div>
		{% endif %}
		{% if space.status == 2 %}
		<div tabindex="0" id="{{ space.stage }}{{ space.id }}" class="workspace-position-{{ space.stage }}{{ space.id }} orange_icon" title="Статус неопределен">
                        <div id="onclick-menu-content">                        
                        </div>
		</div>
		{% endif %}
	 {% endfor %}

	<div class = "stage_menu" >
	<table border="0" cellpadding="0" cellspacing="0" >
	 <tr>
	  <td colspan="2" >
	   <img src="static/images/menu/stage_menu_01.png" width="400" height="19" alt="" /></td>
	 </tr>
	 <tr>
	  <td class="stage_menu_element"><a href = "/map4L">
	   <img src="static/images/menu/stage_menu_02.png" width="201" height="14" alt="" /></a></td>
	  <td class="stage_menu_element"><a href = "/map4R">
	   <img src="static/images/menu/stage_menu_03.png" width="199" height="14" alt="" /></a></td>
	 </tr>
	 <tr>
	  <td class="stage_menu_element"><a href = "/map3L">
	   <img src="static/images/menu/stage_menu_04.png" width="201" height="15" alt="" /></a></td>
	  <td class="stage_menu_element"><a href = "/map3R">
	   <img src="static/images/menu/stage_menu_05.png" width="199" height="15" alt="" /></a></td>
	 </tr>
	 <tr>
	  <td class="stage_menu_element"><a href = "/map2L">
	   <img src="static/images/menu/stage_menu_06.png" width="201" height="14" alt="" /></a></td>
	  <td class="stage_menu_element"><a href = "/map2R">
	   <img src="static/images/menu/stage_menu_07.png" width="199" height="14" alt="" /></a></td>
	 </tr>
	 <tr>
	  <td class="stage_menu_element">
	   <img src="static/images/menu/stage_menu_08.png" width="201" height="16" alt="" /></td>
	  <td class="stage_menu_element">
	   <img src="static/images/menu/stage_menu_09.png" width="199" height="16" alt="" /></td>
	 </tr>
	</table>
	</div>
	</div>

  </div>
</body>
<!-- jQuery UI !-->
<link rel="stylesheet" href="static/styles/jquery-ui.css">
<script type="text/javascript" src="static/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="static/scripts/app.js"></script>
</html>
