<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/styles/style.css">
  <link rel="stylesheet" href="static/styles/dynamic{{ workspaces_set.first.stage }}.css">
  <link rel="stylesheet" href="static/styles/content_menu.css">
  <meta charset="UTF-8">
  <title>map view</title>
  <script type="text/javascript" src="static/scripts/jquery-3.3.1.min.js"> 
  </script>
</head>
<body>
  <div class="container">
    <div class="floor_map">
	 <img class="map_size" src="static/images/map{{ workspaces_set.first.stage }}_izometr.png" >
	 {% for space in workspaces_set %} 
		{% if space.status == 0 %}
		    <div tabindex="0" id="{{ space.stage }}{{ space.id }}" class="workspace-position-{{ space.stage }}{{ space.id }} green_icon" title="{{ space.stage }} {{ space.id }}"> 

		    </div>
		{% endif %}
		{% if space.status == 1 %}
		<div tabindex="0" id="{{ space.stage }}{{ space.id }}" class="workspace-position-{{ space.stage }}{{ space.id }} red_icon" title="{{ space.login }}"> 
			<div id="onclick-menu-content">


                        </div>
		</div>
		{% endif %}
		{% if space.status == 2 %}
		<div tabindex="0" id="{{ space.stage }}{{ space.id }}" class="workspace-position-{{ space.stage }}{{ space.id }} orange_icon" title="Статус неопределен">
                        <div id="onclick-menu-content">                        


                        </div>
		</div>
		{% endif %}
	 {% endfor %}
	</div>
  </div>
</body>
</html>
